In [17]:
import pandas as pd

In [18]:
df=pd.read_csv('IMDB.csv',error_bad_lines=False, engine="python")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
Skipping line 11040: unexpected end of data

In [19]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [20]:
# One review
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

## Text Cleaning

1. Sample 10000 rows
2. Remove html tags
3. Remove special characters
4. Converting every thing to lower case
5. Removing Stop words
6. Stemming

In [21]:
df=df.sample(1000)

In [22]:
df.shape

(1000, 2)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 5814 to 3137
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     1000 non-null   object
 1   sentiment  1000 non-null   object
dtypes: object(2)
memory usage: 23.4+ KB

In [24]:
df['sentiment'].replace({'positive':1,'negative':0},inplace=True)

In [25]:
df.head()

                                                 review  sentiment
5814  Love sublime says the title. Another blurb dur...          0
2333  I never really knew who Robert Wuhl was before...          1
7711  There are some movies you just know they are g...          0
4470  The word 'classic' is thrown around too loosel...          1
4062  At first sight, Who's Singing Over There just ...          1

In [26]:
import re
clean = re.compile('<.*?>')
re.sub(clean, '', df.iloc[2].review)

'There are some movies you just know they are going to be bad from frame one. Even if you were totally oblivious of Ed Wood\'s work, one look at that commentator from "Plan 9 from outer space" and you just KNOW you are not gonna see the next cinematic masterpiece. Just like that, when I saw the first shot of Uwe Bolls masterpiece "House of Dead", with that guy sitting at the front of the house starting his introduction while trying desperately to sound like he just arrived from Sin City, I knew I\'m in for a helluva ride.So, the movie starts like this - first the lead character says that everybody else is going to die. You know, to keep you wandering. Then he starts introducing the rest of the characters with lines like "Karma..thinks she\'s Foxy Brown" or "Alicia..my ex.. we broke up recently.. I had to study and she had to fence". No, I\'m not kidding.Anyway, this bunch of 20-somethings who couldn\'t act their way out of a wet paper-bag are going to the "Rave of the century", rave in question being a few tents, a port-a-potty and a shoddy stage located on small island in the middle of the Pacific. Our gang missed the ferry, but thankfully will find a way to get there, the way being a fisher-boat ran by Kirk (Cpt Kirk? Get it? Man, whoever wrote this script is a genius) and his sidekick who is a bastard child of Simpsons\' Cpt McAllister and that hook killer who knows what you did last summer.To make the long story short, the gang gets to the island, finds nobody there except some bloody T-shirts and then decide to run the hell away from there. No wait, they do not, they actually get all happy and like cos there\'s free booze.With that scene the movie hits rock bottom and then against all odds proceeds to go further downhill. Some guys in rubber suits start running around, there is some screaming and shooting, our gang goes to some house to meet some other gang, they go out of the house, meet Cpt Kirk and some police woman (who between them have about 500 pounds of weapons) and then decide to go back to the house. Somewhere along the line they transform into a S.W.A.T. team, enter the Matrix, the rubber-suit guys start multiplying like bacteria and I start to cry because I actually paid to see this. To add insult to the injury, every few minutes there are shots from the video game this crap is based on and there is a cute game-over cut-scene for a few characters when they die.I seriously hate this movie. It doesn\'t even fit in that famed "So bad it\'s good" category. It\'s just plain bad. The script is bad, the zombies are awful, there is no tension, lines are bad, actors are bad.. the list just goes on.You will probably want to see this movie just because of its reputation of being awful. Don\'t. There are bad movies that deserve to be watched. This is not one of them.'

In [27]:
# Function to clean html tags
def clean_html(text):
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

In [28]:
df['review']=df['review'].apply(clean_html)

In [29]:
# converting everything to lower

def convert_lower(text):
    return text.lower()

In [30]:
df['review']=df['review'].apply(convert_lower)

In [31]:
# function to remove special characters

def remove_special(text):
    x=''
    
    for i in text:
        if i.isalnum():
            x=x+i
        else:
            x=x + ' '
    return x

In [32]:
remove_special(' th%e @ classic use of the word.it is called oz as that is the nickname given to the oswald maximum security state penitentary. it focuses mainly on emerald city, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. em city is home to many..aryans, muslims, gangstas, latinos, christians, italians, irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.i would say the main appeal of the show is due to the fact that it goes where other shows wouldnt dare. forget pretty pictures painted for mainstream audiences, f')

' th e   classic use of the word it is called oz as that is the nickname given to the oswald maximum security state penitentary  it focuses mainly on emerald city  an experimental section of the prison where all the cells have glass fronts and face inwards  so privacy is not high on the agenda  em city is home to many  aryans  muslims  gangstas  latinos  christians  italians  irish and more    so scuffles  death stares  dodgy dealings and shady agreements are never far away i would say the main appeal of the show is due to the fact that it goes where other shows wouldnt dare  forget pretty pictures painted for mainstream audiences  f'

In [33]:
df['review']=df['review'].apply(remove_special)

In [34]:
# Remove the stop words
import nltk

In [35]:
from nltk.corpus import stopwords

In [37]:
  >>> import nltk
  >>> nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [38]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [39]:
df

                                                  review  sentiment
5814   love sublime says the title  another blurb dur...          0
2333   i never really knew who robert wuhl was before...          1
7711   there are some movies you just know they are g...          0
4470   the word  classic  is thrown around too loosel...          1
4062   at first sight  who s singing over there just ...          1
...                                                  ...        ...
10876  like almost everyone else  i became aware of t...          0
8897   oh  it s the movie   i thought i waited too lo...          0
2759   first off  the editing of this film consisted ...          0
3587   avoid this movie  if you are expecting  the po...          0
3137   yes  the first  howling  was a classic  a rath...          0

[1000 rows x 2 columns]

In [40]:

def remove_stopwords(text):
    x=[]
    for i in text.split():
        
        if i not in stopwords.words('english'):
            x.append(i)
    y=x[:]
    x.clear()
    return y

In [41]:
df['review']=df['review'].apply(remove_stopwords)

In [42]:
df

                                                  review  sentiment
5814   [love, sublime, says, title, another, blurb, p...          0
2333   [never, really, knew, robert, wuhl, seeing, se...          1
7711   [movies, know, going, bad, frame, one, even, t...          0
4470   [word, classic, thrown, around, loosely, nowad...          1
4062   [first, sight, singing, seems, absurd, excelle...          1
...                                                  ...        ...
10876  [like, almost, everyone, else, became, aware, ...          0
8897   [oh, movie, thought, waited, long, take, dog, ...          0
2759   [first, editing, film, consisted, one, major, ...          0
3587   [avoid, movie, expecting, poseidon, adventure,...          0
3137   [yes, first, howling, classic, rather, good, w...          0

[1000 rows x 2 columns]

In [43]:
# Perform stemming

from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [44]:
y=[]
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [45]:
stem_words(['I','loved','loving','it'])

['i', 'love', 'love', 'it']

In [46]:
df['review']=df['review'].apply(stem_words)

In [47]:
df

                                                  review  sentiment
5814   [love, sublim, say, titl, anoth, blurb, promot...          0
2333   [never, realli, knew, robert, wuhl, see, see, ...          1
7711   [movi, know, go, bad, frame, one, even, total,...          0
4470   [word, classic, thrown, around, loos, nowaday,...          1
4062   [first, sight, sing, seem, absurd, excel, come...          1
...                                                  ...        ...
10876  [like, almost, everyon, els, becam, awar, turk...          0
8897   [oh, movi, thought, wait, long, take, dog, bel...          0
2759   [first, edit, film, consist, one, major, flaw,...          0
3587   [avoid, movi, expect, poseidon, adventur, 1972...          0
3137   [ye, first, howl, classic, rather, good, werew...          0

[1000 rows x 2 columns]

In [48]:
# Join back

def join_back(list_input):
    return " ".join(list_input)

In [49]:
df['review']=df['review'].apply(join_back)

In [50]:
df['review']

5814     love sublim say titl anoth blurb promot film t...
2333     never realli knew robert wuhl see see realiz f...
7711     movi know go bad frame one even total oblivi e...
4470     word classic thrown around loos nowaday movi w...
4062     first sight sing seem absurd excel comedi kind...
                               ...
10876    like almost everyon els becam awar turkey myst...
8897     oh movi thought wait long take dog believ watc...
2759     first edit film consist one major flaw underst...
3587     avoid movi expect poseidon adventur 1972 may e...
3137     ye first howl classic rather good werewolf mov...
Name: review, Length: 1000, dtype: object

In [51]:
X=df.iloc[:,0:1].values

In [52]:
X.shape

(1000, 1)

In [53]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=1000)

In [54]:
X=cv.fit_transform(df['review']).toarray()

In [55]:
X.shape

(1000, 1000)

In [56]:
X[0].mean()

0.052

In [57]:
y=df.iloc[:,-1].values

In [58]:
y.shape

(1000,)

In [59]:
# X,y
# Training set
# Test Set(Already know the result)

In [60]:
from sklearn.model_selection import train_test_split

X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [61]:
X_train.shape

(800, 1000)

In [62]:
X_test.shape

(200, 1000)

In [63]:
y_train.shape

(800,)

In [64]:
y_test.shape

(200,)

In [65]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [66]:
clf1=GaussianNB()
clf2=MultinomialNB()
clf3=BernoulliNB()

In [67]:
clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)
clf3.fit(X_train,y_train)

BernoulliNB()

In [68]:
y_pred1=clf1.predict(X_test)
y_pred2=clf2.predict(X_test)
y_pred3=clf3.predict(X_test)

In [69]:
y_test.shape

(200,)

In [70]:
y_pred1.shape

(200,)

In [71]:
from sklearn.metrics import accuracy_score

In [72]:
print("Gaussian",accuracy_score(y_test,y_pred1))
print("Multinomial",accuracy_score(y_test,y_pred2))
print("Bernaulli",accuracy_score(y_test,y_pred3))

Gaussian 0.73
Multinomial 0.815
Bernaulli 0.81